.mixed {
     writing-mode: vertical-lr;
     text-orientation: mixed;
  
 }


 /* .box {
     
     color: black;
     padding: 20px;
     margin: 20px;
     display: inline-block;
     vertical-align: middle;
 } */